# User Service
#  - loginctl enable-linger
#  - This goes in ~/.config/systemd/user/inkfish.service
#  - systemctl --user enable inkfish
#  - systemctl --user start inkfish

[Unit]
Description=Word Game
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/word-game
ExecStart=%h/word-game/scripts/start.sh

[Install]
WantedBy=default.target